{% extends "layout.html" %} {% block dataset_name %} {{ filename }} {% endblock
dataset_name %} {% block body_content %}
<!-- tabs section -->
<ul class="nav nav-tabs nav-fill mb-3 col-md-9">
  <li class="nav-item">
    <a class="nav-link active" href="#">Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Visualization</a>
  </li>
</ul>

<!-- main content -->
<main role="main">
  <div class="row">
    <!-- primary content div -->
    <div class="col-md-9">
      <div class="shadow-sm m-4 p-3 bg-white rounded">
        <div class="table-responsive">
          {% for table in tables %} {{ table|safe }} {%endfor %}
        </div>
      </div>

      <!-- process button -->
      <div class="text-center">
        <button class="btn btn-lg btn-primary" type="submit">
          Process
        </button>
      </div>
    </div>

    <!-- sidebar content div -->
    <div class="shadow col-md-3">
      <div>
        <h5>Actions</h5>
        <hr />
      </div>
    </div>
  </div>
</main>

{% endblock body_content %}
